
.header {
  background: linear-gradient(135deg,#8844ee,$roxo_2);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


.header .logo{
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav li + li {
  margin-left: 20px;
}

.header nav a {
  display: block;
  padding: 10px;
  color: aliceblue;
  font-size: 1.125em;
  background: rgba(0,0,0,.1);
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0,0,0,.5);
}

// @media
@media (max-width: 760px){ 
  .header { 
    grid-template-columns: auto; 
  }
  .header .logo{
    margin-bottom: 20px;
  }

  .header nav a {
    font-size: 1em;
  }

  .header nav li + li {
    margin-left: 30px;
  }
}