.sidnav {
  grid-area: sidnav;
  background: #fafbfc;
  padding: 30px;
}

.sidnav li a{
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  background: white;
  padding: 20px;
  border-radius: $radius;
  box-shadow: $shadow;
  transition: .1s ease-in-out;
}

.sidnav li a:hover{
  background: #b07ffb;
}

// @media
@media (max-width: 760px){ 
  .sidnav {
    position: relative;
    overflow-x: auto;
  } 
  
  .sidnav::after {
    content: "->";
    position: absolute;
    top: 5px;
    right: 30px;
    animation: seta .5s ease-in infinite alternate;
  } 

  @keyframes seta{
    from{
      right: 30px;
    }
    to{
      right: 20px;
    }
  }

  .sidnav ul {
    display: flex;
  }

  .sidnav li {
    flex: 1 0 60px;
  }

  .sidnav li a{
    margin: 30px 30px 30px 0px;
  }
}