$roxo_1: #8844ee;
$roxo_2: #b07dfb;
$bg_gradiente: linear-gradient(135deg,$roxo_1,$roxo_2);
$bg_gradiente2: linear-gradient(135deg,$roxo_1, #b07dfb);
$shadow: 5px 5px 15px 0px rgba( 44, 44, 44, .15);
$radius: 5px;